/* #header-fixed{
	position: fixed;
	width: 100%;
} */

body {
	background-color: #ffffe0;
}



/* エラーメッセージ */
.errorMessages{
	 display: block;
	 color:#ff090f;
	 font-family: arial;
	 font-weight: bold;
     margin: 0 auto;
	text-align: center;
	font-size: large;
}

.error_txt{
	 display: inline-block;
     text-align: left;
     font-size: large;
}

.copyright {
	width: 250px;
	margin: 0 auto;
	text-align: center;
	/* position: fixed; */
    bottom: 0px;
    width: 100%;
    height: 100px;
    color:#408080;
    font-family: arial;
}



/* ホームボタン、ユーザー管理ボタン */
.square_btn{
	position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0;
    text-decoration: none;
    color: #2fc8a6;
    font-family: arial;
    font-size: large;
}

.square_btn:before{
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top:100%;
   left: 0;
   border-radius: 3px;
   background:#2fc8a6;
   transition: .2s;
   font-family: arial;
}

.square_btn:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}




/* ログアウトボタン */
.logout_btn{
	position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0;
    text-decoration: none;
    color: #fc696c;
    float: right;
    font-family: arial;
    font-size: large;
}

.logout_btn:before{
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top:100%;
   left: 0;
   border-radius: 3px;
   background:#fc696c;
   transition: .2s;
   float: right;
   font-family: arial;
}

.logout_btn:hover:before {
	top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
    float: right;
}



/* ログイン画面 */
.login_title {
	 background: #408080;/*背景色*/
	 padding: 1em;/*文字まわり（上下左右）の余白*/
	 color: #ffffff;
	 font-size: xx-large;
	 font-weight: bold;
	 font-family: arial;
	 text-align: center;
	 font-family: arial;
	 margin-right: 7;
}

.login_box{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: white;
	height: 10%;
	width: 400px;
	top:40px;
	left:0px;
	width: 80%;
 	margin: 0 auto;
 	max-width: 500px;
 	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.login_id{
	 vertical-align:middle;
	 color:#408080;
	 font-family: arial;
	 font-weight: bold;
}

.password{
	 vertical-align:middle;
	 color:#408080;
	 font-family: arial;
	 font-weight: bold;
}

#login_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #408080;
    border: solid 2px #408080;
    border-radius: 3px;
    transition: .4s;
}

#login_btn:hover {
    background: #408080;
    color: #ffffff;
}



/* ユーザー新規登録画面 */
.new_user_title{
	 background: #408080;/*背景色*/
	 padding: 1em;/*文字まわり（上下左右）の余白*/
	 color: #ffffff;
	 font-size: xx-large;
	 font-weight: bold;
	 font-family: arial;
	 text-align: center;
	 font-family: arial;
}

#new_btn {
     display: inline-block;
     padding: 0.3em 1em;
     text-decoration: none;
     color: #408080;
     border: solid 2px #408080;
     border-radius: 3px;
     transition: .4s;
     font-family: arial;
}

#new_btn:hover {
     background: #408080;
     color: white;
     font-family: arial;
}

.new_box{
 	 margin-top: 0px;
	 margin-bottom: 0px;
	 margin-left: 50px;
	 margin-right: 50px;
	 background-color: white;
	 height: 10%;
	 width: 400px;
	 top:140px;
	 left:0px;
	 width: 80%;
 	 margin: 0 auto;
 	 max-width: 500px;
 	 display: flex;
	 align-items: center;
	 justify-content: center;
	 text-align: center;
}

.name{
	 vertical-align:middle;
	 color:#408080;
	 font-family: arial;
	 font-weight: bold;
	 font-size: large;
}

.name_text{
	vertical-align:middle;
	 color:#808080;
	 font-family: arial;
	 font-size: small;
}

/* .tweet-box{
	width: 400px;
	height:150px;
} */

/* 新規投稿 */
.new_message_title {
	 background: #408080;/*背景色*/
	 padding: 1em;/*文字まわり（上下左右）の余白*/
	 color: #ffffff;
	 font-size: xx-large;
	 font-weight: bold;
	 font-family: arial;
	 text-align: center;
}


/* ユーザー編集 */
.edit_title{
	 background: #408080;/*背景色*/
	 padding: 1em;/*文字まわり（上下左右）の余白*/
	 color: #ffffff;
	 font-size: xx-large;
	 font-weight: bold;
	 font-family: arial;
	 text-align: center;
}



/* ユーザー管理 */
.management_title{
	 background: #408080;/*背景色*/
	 padding: 1em;/*文字まわり（上下左右）の余白*/
	 color: #ffffff;
	 font-size: xx-large;
	 font-weight: bold;
	 font-family: arial;
	 text-align: center;
}

table{
	border-collapse: collapse;
	border: solid 2px #408080;
	text-align: center;
	font-family: arial;
	margin: 0 auto;
}
table th{
	padding: 20px;
	font-family: arial;
	color: #ffffff;
	background: #69b4b4;
}

table td{
	padding: 10px;
	color: #505050;
	background: #ffffff;
}

.stop_btn {
     display: inline-block;
     padding: 0.3em 1em;
     text-decoration: none;
     color: #ff2828;
     border: solid 2px #ff2828;
     border-radius: 3px;
     transition: .4s;
     font-family: arial;
}

.stop_btn:hover {
     background: #ff2828;
     color: white;
     font-family: arial;
}

.start_btn {
     display: inline-block;
     padding: 0.3em 1em;
     text-decoration: none;
     color: #8080c0;
     border: solid 2px #8080c0;
     border-radius: 3px;
     transition: .4s;
     font-family: arial;
}

.start_btn:hover {
     background: #8080c0;
     color: white;
     font-family: arial;
}

.edit_btn{
	 display: inline-block;
     padding: 0.3em 1em;
     text-decoration: none;
     color: #408080;
     border: solid 2px #408080;
     border-radius: 3px;
     transition: .4s;
     font-family: arial;
}

.edit_btn:hover {
     background: #408080;
     color: white;
     font-family: arial;
}



/* トップ画面 */
.top_title{
	 background: #408080;/*背景色*/
	 padding: 1em;/*文字まわり（上下左右）の余白*/
	 color: #ffffff;
	 font-size: xx-large;
	 font-weight: bold;
	 font-family: arial;
	 text-align: center;
	 width:100%;
}

/* ・絞込み */
.box{
	list-style-type: none; /*箇条書きのポッチを消す*/
  text-align:center;
}

.search_box{
	/* position: fixed; */
	top: 130px;
	left: 8px;
	display: inline-block;
	/* text-align: center; */
	list-style-type: none;
	float: left;
	width: 153px;
	height: 225px;/*高さも指定できる*/
	padding: 0.5em 1em;/*余白*/
	margin: 2em 0;/*余白も指定できる*/
	vertical-align: middle;/*縦の表示位置も指定できる*/
	background: #fcd8a7;/*背景*/
	font-weight: bold;/*文字を太字に*/
	color: #ff8040; /*文字色*/
	 font-family: arial;
	 border-top: solid 10px #ff8040;
}

.search_box p{
	margin: 0;
    padding: 0;
}

#search_btn{
	display: inline-block;
     padding: 0.3em 1em;
     text-decoration: none;
     color: #ff7d6e;
     border: solid 2px #ff7d6e;
     border-radius: 3px;
     transition: .4s;
     font-family: arial;
}

#search_btn:hover {
     background: #ff7d6e;
     color: white;
     font-family: arial;
}

.messagesBox{
	display: inline-block;
	font-family: arial;
	text-align: left;
     width: 1000px;
     word-break: break-all;
}

.messageText{
	font-size: large;
	word-break: break-all;
}

/* 投稿 */

/* .messagesBox{

	width: 1000px
} */

.one-message{

}

.title{
	display: block;
	padding: 1em;/*文字周りの余白*/
	color: #ffffff;/*文字色*/
	background: #69b4b4;/*背景色*/
	border-left: solid 5px #408080;/*左線（実線 太さ 色）*/
	font-size: x-large;
	font-weight: bold;
	font-family: arial;
	width: 85%;
	margin: 0em 0;
}

.messageBox p{
	display: inline;
	color:#808080;
	font-family: arial;
	font-size: medium;
}
/* .category{
	display: inline-block;
	color:#808080;
	font-family: arial;
	font-size: medium;
}

.messageName{
	 vertical-align:middle;
	 color:#808080;
	 font-family: arial;
	 font-size: medium;
	 position: absolute;
	 left: 38%;
} */

.date{
	display: inline;
	color:#808080;
	font-family: arial;
	font-size: medium;
	float: right;

}

.vertical-lines {
	height: 1px;
	border: none;
	border-top: 2px #2fc8a6 dashed;
}

.textBox{
	display: block;
	padding: 0.5em 1em;
    margin: 0em 0em 1em 0em;
    color: #505050;/*文字色*/
    background: #ffffff;
    border: solid 3px #408080;/*線*/
    border-radius: 10px;/*角の丸み*/
    width: 86.5%;
    padding-bottom: 50px;


}

.textBox p{
	margin: 8px;
    padding: 0;
}

.managementName{

}
/* 投稿削除 */
/* .delete{
	position:absolute;
	top: 565px;
	right: 90px;
} */

.del_btn{
     display: block;
     padding: 0.3em 1em;
     text-decoration: none;
     color: #ff2828;
     border: solid 2px #ff2828;
     border-radius: 3px;
     transition: .4s;
     font-family: arial;
	 float: right;
}

.del_btn:hover {
     background: #ff2828;
     color: white;
     font-family: arial;
}

/* コメント */
.comments{
	display: block;
	padding: 0.5em 1em;
    margin: 0em 0em;
    color: #505050;/*文字色*/
    background: #d7ddfb;
    border: solid 3px #0080c0;/*線*/
    border-radius: 10px;/*角の丸み*/
    width: 50%;
    bottom: 3px;
}
.comments p {
    margin: 8px;
    padding: 0;
}

.text{
	word-break: break-all;
	font-size: large;
}
.tweet-box{
	width: 460px;
	height: 100px;
	resize: none;
	text-align: left;
	word-break: normal;
}

#comment_btn {
     display: inline-block;
     padding: 0.3em 1em;
     text-decoration: none;
     color: #0080c0;
     border: solid 2px #0080c0;
     border-radius: 3px;
     transition: .4s;
     font-family: arial;
}

#comment_btn:hover {
     background: #0080c0;
     color: white;
     font-family: arial;
}

.form-area{
	font-family: arial;
	color: #0080c0;
}

.comment-lines{
	height: 1px;
	border: none;
	border-top: 2px #ffffff dashed;
}

.comment-item{
	display: inline;
	color:#808080;
	font-family: arial;
	font-size: middium;
	float: right;
	text-align: right;
}

.commentdel_btn{
     display: block;
     padding: 0.3em 1em;
     text-decoration: none;
     color: #ff2828;
     border: solid 2px #ff2828;
     border-radius: 3px;
     transition: .4s;
     font-family: arial;
	 float: right;
}

.commentdel_btn:hover {
     background: #ff2828;
     color: white;
     font-family: arial;
}

.one-comment{
	display: block;
	margin-bottom: 70px;
}


/*
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: white;
	height: 10%;
	width: 400px;
	position: relative;
	top:40px;
	left:0px;
	width: 80%;
 	margin: 0 auto;
 	max-width: 500px;
 	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.tweet-box {
	width: 780px;
	height: 56px;
}

.header {
	text-align: right;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #ECECFF;
}

.message-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
}

.message-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
}

.message-icon .text {
	height: 40px;
}

.message-icon .message {
	margin-left: 60px;
}

.message-icon .account-name {
	margin-top: 1px;
	margin-bottom: 5px;
}

.message-icon .account-name .account {
	font-weight: bold;
}

.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}



}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
} */